@font-face {
  font-family: Rubik;
  src: url(Rubik[wght].ttf),
       url(Rubik-Italic[wght].ttf);
  /* You can add other font formats here */
}

/* reset */
* {
  margin: 0;
  padding: 0;
}


h1, h2, h3, p, td {
  font-family: Rubik;
}
.container {
    display: flex;
    flex-direction: column;
}


nav {
  background-color: #fff;
  margin: 30px;
}

nav table {
  background-color: #fff;
  margin: 30px;
  border: none; /* To remove the border */
  width: 100%; /* To set width to 100% */
  border-spacing: 0; /* Equivalent to cellspacing="0" */
  border-collapse: collapse; /* Helps to merge cell borders */
}

nav ul {
  list-style: none;
  text-align: center;
}

nav span {
  margin-left: 40%;
  font-size: 24px;
}

nav a {
    font-weight: bold;
    text-decoration: none; /* Remove the underline */
    color: #2D2D33;
}

nav a:hover {
  color: #485A78;
}

nav span {
  color: #2D2D33;
  transition: transform 0.3s ease; /* Smooth transition effect */
  display: inline-block; /* Allows the element to have width and height properties */
}

span:hover {
  transform: scale(1.2) rotate(20deg); /* Scales to 120% and rotates 20 degrees on hover */
}

#logo {
  display: flex;
  padding: 10px;
  margin-left: 50%;
  width: 25%;
  height: 25%;
}

@media (max-width: 1000px) and (orientation: portrait){
    nav span {
        font-size: 18px; /* Adjust font size for smaller screens */
        display: inline-block;
    }
}

:root {
  --main-color: #3498db;
  --highlight-color: #ff9900;
}

@keyframes changeColor {
  0% { color: var(--main-color); }
  50% { color: var(--highlight-color); }
  100% { color: var(--main-color); }
}

@keyframes fallbackColorChange {
  0% { color: red; }
  50% { color: blue; }
  100% { color: green; }
}

/* Apply the animation to the h1 element */
.color-change {
    animation: changeColor 5s infinite; /* 5s duration, runs infinitely */
}

/* Fallback for browsers not supporting CSS variables */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .my-element {
    animation: fallbackColorChange 3s infinite; /* Fallback to non-variable animation */
  }
}

#about {
  background-color: #2D2D33;
  color: #fff;
}

#about img {
    display: block;
    max-width: 90%;
    width: 600px;
}

#about table {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive adjustment for smaller screens */
@media only screen and (max-width: 736px) and (orientation: portrait){
    #logo img {
      display: none;
    }
    #about table {
        display: block;
    }

    #about td {
        width: 100%;
        display: block;
    }

    #bio {
      margin-left: 30px;
    }

    #about img {
        width: 70%; /* Allow the image to take full width on smaller screens */
        margin-left: 15%;
    }
}

#bio {
  padding-top: 120px;
  padding-right: 100px;
  max-width: 600px; /* Set a maximum width for the bio content */
}

#learn-more {
  padding-bottom: 20px;
}

.bio-name * {
  padding-bottom: 5px;
}

#bio-content {
  padding-top: 10px;
  padding-bottom: 50px;
}

#skills {
    color: #2D2D33;
}

#skills h1 {
     text-align: center;
     padding-top: 50%;
     padding: 20px;
     margin-top: 50px;
     margin-bottom: 60px;
}

#skills table {
    max-width: 100%;
    margin: 0 auto; /* This centers the table */
    border-spacing: 70px 15px;
    width: 75%;
    display: flex;
}

#skills td {
  width: 33.33%; /* Initially show in three columns */
  box-sizing: border-box; /* Ensures padding is included in the width */
  text-align: center;
  padding-bottom: 200px;
  vertical-align: top;
}

#skills tr {
  margin-bottom: 110%;
}


#skills img {
    max-width: 100%;
    width: 120px;
    height: auto;
}

@media (max-width: 1000px){
    #skills table {
        display: block; /* Changes table to block display */
    }
    #skills td {
        display: block; /* Changes cells to block display */
        width: 100%; /* Full width for cells */
        padding-bottom: 100px;
    }
}

footer {
    background-color: #2C3347;
    color: #fff;
    text-align: center;
}

/* CSS */
.rounded-button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: Rubik;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Hover effect - Change color on hover */
.rounded-button:hover {
    background-color: #C9D0E3;
}

.rounded-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rounded-button:focus-visible {
  box-shadow: none;
}

#projects {
  background-color: #CED1D9;
}


#projects h1 {
  text-align: center;
  padding-top: 50%;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 60px;
}

#projects aside {
  text-align: center;
  padding-top: 50%;
  padding: 20px;
  margin-top: 7%;
  margin-bottom: 100px;
}

#projects table {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#projects td {
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}

#projects img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center items */
  margin: 0 auto; /* Center the entire gallery */
  max-width: 1200px; /* Set your desired max-width */
}

.gallery .project-item {
  min-height: 200px; /* Set a standard height */
  position: relative;
}

.gallery .project-item img {
  width: 100%;
  height: 100%; /* Make the images occupy the full height of their container */
  object-fit: cover;
}

.project-item {
  position: relative;
}

.project-item .project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Match the height with the images */
  padding: 20px; /* Adjust padding as per your needs */
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
  box-sizing: border-box; /* Include padding in the overall height */
}

.project-item:hover .project-info {
  opacity: 1;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

@media (max-width: 1000px) and (orientation: portrait) {
    #projects td {
        display: block;
        width: 100%;
        padding-bottom: 100px;
    }

    #projects aside {
      margin-top: 1px;
    }
}

#contact {
  background-color: #2D2D33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Rubik;
  font-size:10px;
  height: 100vh;
  margin: 0;
}


.contact-container {
	background-color: $white;
	border-radius: 5px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  min-width:370px;
}

h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-color:$teal;
}
.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color: $white;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
  color:$white;
  background-color: white;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
  color:#fff;
}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid $teal;
}

#contact-info {
  display: none;
}

@media only screen and (max-width: 825px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;
  }
  .right-container {
    padding-bottom: 40px;
  }
  #contact-info {
    display: contents;
    line-height: 30px;
  }
}

@media only screen and (min-width: 825px) {
  .sm-view {
    display:none;
  }
}

form p {
  text-align:left;
}
